# Dependencies
node_modules/

# Build output
dist/
build/
.next/
!action/dist/
!action/dist/**

# Environment and local files
.env
.env.*
.DS_Store
!.env.example

# Logs
*.log

# IDE settings
.idea/
.vscode/
.vercel

# TypeScript cache
*.tsbuildinfo
